Should SHA-1 digest options should be second and SHA-384 last?

The current order of options for the wonderful new feature of multiple DS records is:

Algorithm | Digest Type
------------ | -------------
ECDSAP256SHA256 | SHA-256
ECDSAP256SHA256 | SHA-1
RSASHA256 | SHA-256
RSASHA256 | SHA-1
ECDSAP256SHA256 | SHA-384
RSASHA256 | SHA-384
RSASHA1-NSEC3-SHA1 | SHA-256
RSASHA1-NSEC3-SHA1 | SHA-1
RSASHA1-NSEC3-SHA1 | SHA-384

RFC 8624 says SHA-1 MUST NOT be used for DNSSEC delegation. It also states that SHA-384 is only RECOMMENDED for DNSSEC validation, while SHA-1 MUST be supported for DNSSEC validation.

> [3.3](https://datatracker.ietf.org/doc/html/rfc8624#section-3.3).  DS and CDS Algorithms
> 
>    The following table lists the recommendations for Delegation Signer
>    Digest Algorithms [DS-IANA].  These recommendations also apply to the
>    Child Delegation Signer (CDS) RRTYPE as specified in [RFC7344].
> 
    +--------+-----------------+-------------------+-------------------+
    | Number | Mnemonics       | DNSSEC Delegation | DNSSEC Validation |
    +--------+-----------------+-------------------+-------------------+
    | 0      | NULL (CDS only) | MUST NOT [*]      | MUST NOT [*]      |
    | 1      | SHA-1           | MUST NOT          | MUST              |
    | 2      | SHA-256         | MUST              | MUST              |
    | 3      | GOST R 34.11-94 | MUST NOT          | MAY               |
    | 4      | SHA-384         | MAY               | RECOMMENDED       |
    +--------+-----------------+-------------------+-------------------+
> 
>    [*] - This is a special type of CDS record signaling removal of DS at
>                          the parent in [RFC8078].
> 
>    NULL is a special case; see [RFC8078].
> 
>    SHA-1 is still widely used for Delegation Signer (DS) records, so
>    validators MUST implement validation, but it MUST NOT be used to
>    generate new DS and CDS records (see "Operational Considerations" for
>    caveats when upgrading from the SHA-1 to SHA-256 DS algorithm.)
> 
>    SHA-256 is widely used and considered strong.
> 
>    GOST R 34.11-94 has been superseded by GOST R 34.11-2012 in
>    [RFC6986].  GOST R 34.11-2012 has not been standardized for use in
>    DNSSEC.
> 
>    SHA-384 shares the same properties as SHA-256 but offers a modest
>    security advantage over SHA-256 (384 bits of strength versus 256
>    bits).  For most applications of DNSSEC, SHA-256 should be
>    satisfactory and robust for the foreseeable future and is therefore
>    recommended for DS and CDS records.  While it is unlikely for a
>    DNSSEC use case requiring 384-bit security strength to arise, SHA-384
>    is provided for such applications, and it MAY be used for generating
>    DS and CDS records in these cases.

Based on the RFC, would the following order make more sense?

Algorithm | Digest Type
------------ | -------------
ECDSAP256SHA256 | SHA-256
RSASHA256 | SHA-256
RSASHA1-NSEC3-SHA1 | SHA-256
ECDSAP256SHA256 | SHA-1
RSASHA256 | SHA-1
RSASHA1-NSEC3-SHA1 | SHA-1
ECDSAP256SHA256 | SHA-384
RSASHA256 | SHA-384
RSASHA1-NSEC3-SHA1 | SHA-384


I see your point but I don't think your order is right either:

* Since SHA1 is MUST NOT, it should be at the bottom of the list. No other algorithm or digest type that we offer is a MUST NOT. (We retain it so that we can continue generating the required records for DS keys that are already deployed with SHA1.)
* RSASHA1-NSEC3-SHA1 is listed by the RFC as NOT RECOMMENDED, so it should be next last. No other algorithm or digest type that we offer is a NOT RECOMMENDED.
* Everything else is a MUST/MAY (for delegation), but MUST vs MAY doesn't tell us a preference.
* On the validation side, SHA-384 is merely recommended and not a MUST (and so will have less support), so it goes next.
* The RFC recommends ECDSAP256SHA256 and SHA-256, so that pair of course is on top (as we both did).

So I think the right order should be:

Algorithm | Digest Type
------------ | -------------
ECDSAP256SHA256 | SHA-256
RSASHA256 | SHA-256
ECDSAP256SHA256 | SHA-384
RSASHA256 | SHA-384
RSASHA1-NSEC3-SHA1 | SHA-256
RSASHA1-NSEC3-SHA1 | SHA-384
ECDSAP256SHA256 | SHA-1
RSASHA256 | SHA-1
RSASHA1-NSEC3-SHA1 | SHA-1

I'm not certain that preferring ECDSAP256SHA256 + SHA-384 (possibly not supported by validators) over RSASHA1-NSEC3-SHA1 + SHA-256 (less secure) is the right choice, but I think so.

I think that is better based on what is in the RFCs. The only side note is that ed25519 is also recommended for both signing and delegation, but then we're adding an additional algorithm and I've yet to see ed25519 implemented any place, so doesn't really seem worthwhile at this time.

Something else I didn't include in the OP is that RFCs state it is acceptable to include more than one DS record as long as the record has a corresponding DNSKEY. So adding, say, both algorithm 8 and 13 with digest type 2 and 4 (total of 4 DS records) allowed per RFC, and resolvers should by default select the strongest method available. But this would require some additional verbiage in the interface some place.

That's right. We actually include DNSKEYS for all options because we don't know ahead of time which DS record will be used. This probably creates very large DNS responses for DNSSEC records, but it works.

Oh, I may have stated something not very well. The RFC allows multiple DS records, but it would be up to the validating server to determine which record to use when more than one can be validated. I *think* they are configured to select the highest grade.

I would expect a validator to try them all until it finds one that works. Otherwise key rotation would be difficult.

On June 25, 2021 6:03:24 PM EDT, Paul ***@***.***> wrote:
>Oh, I may have stated something not very well. The RFC allows multiple
>DS records, but it would be up to the validating server to determine
>which record to use when more than one can be validated. I *think* they
>are configured to select the highest grade.
>
>-- 
>You are receiving this because you commented.
>Reply to this email directly or view it on GitHub:
>https://github.com/mail-in-a-box/mailinabox/issues/1998#issuecomment-868855600

-- 
Sent from my Android device with K-9 Mail. Please excuse my brevity.

@JoshData I don't know if you are currently working on updates to `status_checks.py`, but if not I was going to submit a PR to add the following text to the DNSSEC should be updated notification message:

**IMPORTANT:** Do not delete existing DNSSEC 'DS' records for this domain until confirmation that new DNSSEC 'DS' records for this domain are valid.

I wasn't planning on working on it, hoping that someone else might. :) Your message looks good, except that in most cases people only have on DS record for a domain so it should be singular at the end, not plural.