DNS not fully working

For some reason some of my DNS records seems not working.

For instance:
_WORKING_ email.entropy.theinformation.cn CNAME eu.mailgun.org.
_NOT WORKING_ entropy.theinformation.cn CNAME information.myqnapcloud.com.

**I have modified the NS records of theinformation.cn to my MIAB NS glue records.**

I ~'m having~ had  the same issue. After I removed the `A` records for a domain and substituted `CNAME` records instead.

I discovered a utility named `nsd-checkzone`:

```
nsd-checkzone example.com /etc/nsd/zones/example.com.txt
[2019-10-31 09:26:33.075] nsd-checkzone[1943]: error: /etc/nsd/zones/example.com.txt:14: CNAME and other data at the same name
[2019-10-31 09:26:33.075] nsd-checkzone[1943]: error: /etc/nsd/zones/example.com.txt:15: CNAME and other data at the same name
[2019-10-31 09:26:33.075] nsd-checkzone[1943]: error: /etc/nsd/zones/example.com.txt:16: CNAME and other data at the same name
```

You cannot set a `CNAME` record on the root domain. After fixing that issue, `nsd-checkzone` reports the zone is okay and will reload the changed zone from file. 

For reference see [RFC 1034 section 3.6.2](http://www.faqs.org/rfcs/rfc1034.html) which says:

> If a CNAME RR is present at a node, no other data should be present; this ensures that the data for a canonical name and its aliases cannot be different.

This means that `example.com` cannot have any other records - but as the root domain, it will always need `NS` records at the very least, so hence the problem. 

@bogao I suggest you check your zonefile for errors and fix any issues that arise. If the zone file is written correctly to disk, but is not picked up by nsd, there's likely to be an error in there. 